In [13]:
x = (" apple", "banana", "cherry")
y = enumerate(x)

In [14]:
y

In [ ]:
list(y)

{0: ' apple', 1: 'banana', 2: 'cherry'}

In [16]:
import numpy as np 
data = np.array([1, 2, 3, 4, 5])
print(data)

[1 2 3 4 5]

In [17]:
age = 25 
print(type(age))  # Corrected from 'pint' to 'print'

<class 'int'>

In [18]:
# Type conversion example 
age_str = str(age) # str is a fuction that converts an integer to a string
print(type(age_str))  # Should print <class 'str'>

<class 'str'>

In [19]:
height = 1.75
print(type(height))  # Should print <class 'float'>
# Type conversion example
height_str = str(height)  # Convert float to string
print(type(height_str))  # Should print <class 'str'>
# Type conversion example
is_student = True
print(type(is_student))  # Should print <class 'bool'>
is_student_str = str(is_student)  # Convert boolean to string   
print(type(is_student_str))  # Should print <class 'str'>
# Type conversion example
grades = [85, 90, 78]
print(type(grades))  # Should print <class 'list'>
grades_str = str(grades)  # Convert list to string
print(type(grades_str))  # Should print <class 'str'>

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'str'>

In [20]:
### Dynammic Typing in Python 

var = 10 
print(type(var))

var = "Hello, World!"  # Changing the type of var
print(type(var))

<class 'int'>
<class 'str'>

In [21]:


age = input("Enter your age")
print(f"Your age is: {age}")  # This will print the age entered by the user

Your age is:

In [22]:
num1 = float(input("Enter your first number: "))
num2 = float(input("Enter your second number: "))

sum_result = num1 + num2
difference = num1 - num2    
product = num1 * num2

# Handling divide-by-zero error
if num2 != 0:
    quotient = num1 / num2
else:
    quotient = "Undefined (division by zero)"

print(f"Sum: {sum_result}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

ValueError: could not convert string to float: ''

In [ ]:
num1 = int(input("Enter your first number: "))
num2 = int(input("Enter your second number: "))

sum_result = num1 + num2
product = num1 * num2
# Division gives float even if using int
quotient = num1 / num2 if num2 != 0 else "Undefined"

print(f"Sum: {sum_result}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Sum: 112
Product: 3136
Quotient: 1.0