In [16]:
import numpy as np

In [11]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [19]:
def greet(name = "User"):
    print(f"Hello, {name}! ")

In [20]:
greet()

Hello, User!

In [3]:
class Hero:
    def __init__(self, name, power):
        self.name = name
        self.power = power

    def display(self):
        print(f"Hero: {self.name}, Power: {self.power}")

In [4]:
Hero("Superman", "Flight").display()

Hero: Superman, Power: Flight

In [5]:
range(5)

range(0, 5)

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for number in range(5): # range function generates numbers from 0 to 4
    print(number)

0
1
2
3
4

In [9]:
range(1,10)

range(1, 10)

In [16]:
for i in range(0,11,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
str = "wasup"

for i in str:
    print(i)

w
a
s
u
p

In [19]:
for i in range(5):
    if i % 2 == 0:
        print(i)
 
while False:
    print("This will not print")

0
2
4

In [31]:
fruits = ["apple", "banana", "mango"]
for index, fruit in enumerate(fruits):
    print(index, fruits)

0 ['apple', 'banana', 'mango']
1 ['apple', 'banana', 'mango']
2 ['apple', 'banana', 'mango']

In [32]:
squares = [x*x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [39]:
# loop control statements

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
for i in range(10):  # skip even numbers = continue 
    if i % 2 == 0:
        continue 
    print(i)

1
3
5
7
9

In [41]:
for i in range(5):
    if i == 3:
        pass  # placeholder, does nothing
    print(i)

0
1
2
3
4

In [42]:
n = 10
total = n * (n + 1) // 2
print("Sum =", total)

Sum = 55

In [43]:
n = 10
total = 0
i = 1

while i <= n:
    total += i
    i += 1

print("Sum =", total)

Sum = 55

In [ ]:
for num in range(1, 101):
    if num > 1 :
        for i in range(2 , num ):
            if num%i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [47]:
import numpy as np
np.array([1, 2, 3])

array([1, 2, 3])

In [48]:
from numpy import *

In [49]:
from package.maths import addition
addition(2, 3)

5